.heading {
  font-family: "Covered By Your Grace", cursive;
  background-image: linear-gradient(
    180deg,
    rgba(94, 114, 235, 1) 0%,
    rgba(255, 145, 144, 1) 56%,
    rgba(254, 193, 149, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.use-typewriter-hook:after {
  content: "";
  border-right: 4px solid rgb(94, 114, 235);
  animation: fade-in 0.5s 0s infinite normal;
  animation-direction: alternate;
  margin-left: 1rem;
}

@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, 0px, 1000px);
  }
  80% {
    opacity: 0.8;
    transform: none;
  }
}

@keyframes head-shake {
  0% {
    transform: translateX(0px);
    filter: grayscale(0);
    opacity: 1;
  }
  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }
  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }
  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }
  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }
  50% {
    transform: translateX(0px);
    filter: grayscale(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
